
# HTID:5608093: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:5608093:

# HTID:5839781: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 / https://igloostarshines.herokuapp.com/
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:5839781:
